/* The following block can be included in a custom.scss */

/* make the customizations */
$theme-colors: (
    "info": tomato,
    "danger": teal
);

body{
    background-color: #b8b8d1;
    font-family: Courier, monospace;
    background-repeat: no-repeat;
    color: #565264;
  }
  
  .link {
    color: #565264;
    }
//   background-image: url('https://www.bioadvanced.com/sites/default/files/2018-06/Growing%20Hydrangeas.jpg');

 

