/* The following block can be included in a custom.scss */

/* make the customizations */
$theme-colors: (
    "info": tomato,
    "danger": teal
);

body{
    background-color: #fdecef;
    font-family: Courier, monospace;
    background-repeat: no-repeat;
    color: #565264;
  }
  
.link {
    color: #565264;
    }

.headerImg{
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}
.textarea{
  height: 100px;
  white-space: pre-line;
  word-wrap: normal;
 }

 .btn-container{
   margin-top: 10px;
   margin-bottom: 30px;

 }
 .gif{
   margin: auto;
 }
 .header{
   margin-bottom: 0px;
 }
  
 a{
  text-decoration: none;
  background-color: transparent;
}



 

